body {
    background-color: #ffd2d1;
    font-family: 'Fira Code', monospace;
}

#profileImage{
	max-width: 150px;
}

#hamburgerIcon{
	max-width: 60px;
	position: fixed;
	right: 10px;
	top: 10px;
}

#links{
	display: none;
	right: 20px;
	top: 65px;
	position: absolute;
	text-align: right;
}

#menu{
	float: right;
}

#header{
	text-align: center;
}

#intro{
	font-size: 12pt;
}

#blueContainer{
	background-color: #d1feff;
	width: 20%;
	text-align: center;
	margin: auto;
}

#introText{
	padding: 20px;
}

#introNavigation{
	text-align: center;
	margin: auto;
}

#aboutMeContainer{
	padding-left: 11%;
	width: 11%;
	text-align: center;
	float: left;
}

#aboutMeText{
	background-color: #85fcff;
}

#aboutMeText:hover{
	background-color: white;
}

#experienceContainer{
	padding-left: 11%;
	width: 11%;
	text-align: center;
	float: left;
}

#experienceText{
	background-color: #9efdff;
}

#experienceText:hover{
	background-color: white;
}

#skillsContainer{
	padding-left: 11%;
	width: 11%;
	text-align: center;
	float: left;
}

#skillsText{
	background-color: #b8fdff;
}

#skillsText:hover{
	background-color: white;
}

#contactContainer{
	padding-left: 11%;
	padding-right: 11%;
	width: 11%;
	text-align: center;
	float: left;
}

#contactText{
	background-color: #d1feff;
}

#contactText:hover{
	background-color: white;
}

#iconCredit{
	bottom: 1px;
	position: fixed;	
}