body {
    background-color: white;
    font-family: 'Inconsolata', ;
    font-size: 12pt;
    padding: 15px;
    padding-bottom: 75px;
    padding-top: 0px;
}

#profileImage{
	max-width: 150px;
}

#hamburgerIcon{
	max-width: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
}

#links{
	display: none;
	right: 20px;
	top: 40px;
	position: absolute;
	text-align: right;
}

#menu{
	float: right;
}

#header{
	text-align: center;
}